*{
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btn{
    display: inline-block;
    padding: 20px 30px;
    color: #ffffff;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.1);
}

#button1{
    background-color: #990000;
    width: 130px;
    margin: 0 30px;
}

#button2{
    background-color: #000066;
    width: 130px;
    margin: 0 30px;
}

#button3{
    background-color: #004D00;
    width: 130px;
    margin: 0 30px;
}

#button4{
    background-color: #333333;
    border-radius: 100%;
    width: 130px;
    margin: 0 30px;
    cursor: none;
}